@import "~antd/dist/antd.css";

.App {
  text-align: center;
  font-family: poppins;
}

.app-container {
  text-align: center;
  margin: auto;
  margin-top: 10%;
}

.menu_item {
  padding-top: 30%;
  padding-bottom: 30%;
  padding-left: 1%;
}

.log-in {
  background-color: #f2ffff;
  padding-top: 20vw;
  padding-right: 20vw;
  padding-left: 20vw;
  margin: auto;
  height: 100vh;
}

.home-page {
  background-color: #f2ffff;
}

.new-tweet {
  text-align: left;
}

.tweet {
  text-align: left;
  margin: 2vw;
}

* {
  font-family: "Product Sans", serif;
}
